@import "../../theme/theme.scss";

.view-title {
    align-content: center;
    justify-content: center;
    color: black;
    font-family:Montserrat;
    font-weight:400;
}

.view-body {
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.view-emergency {
    width: 100%;
    padding: 0 5 * $pad-lg;
    overflow: none;
    text-transform: uppercase;
}

.view-footer {
    text-align: center;
    margin: 0 $pad-lg 2 * $pad-lg $pad-lg;
}

.view-header {
    display: flex;
    flex-direction: row;
}
